SQLAlchemy>=2.0.29


Flask==2.3.2
Flask-SQLAlchemy==3.0.5
flask-cors
Authlib==1.2.1
pymongo==4.4.1
psycopg2-binary==2.9.10
requests==2.31.0
urllib3==2.5.0
python-dotenv==1.0.0
gunicorn==21.2.0
cryptography==45.0.5
Werkzeug==2.3.6
packaging==25.0
typing-extensions==4.14.1
